<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="fragments/commonHeader :: header"></div>
    <title th:text="#{shipping.add}">Add customer order</title>
</head>
<body>
<div class="container">
    <h2 th:text="#{shipping.new.customer.order}">New customer order</h2>
    <div class="row">
        <div class="col-md-9">
            <form action="#" th:action="@{/shippingManagement}" th:object="${customerOrder}" method="post">
                <div th:if="${#fields.hasErrors('orderItems')}">
                    <span th:if="${#fields.hasErrors('orderItems')}" th:errors="*{orderItems}" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="paymentMethod" class="col-form-label" th:text="#{shipping.payment.method}">Payment method</label>
                        <select th:field="*{paymentMethod}" id="paymentMethod" class="form-select">
                            <option th:each="payment : ${allPaymentMethods}" th:value="${payment.paymentMethod}"
                                    th:text="#{${'shipping.payment.method.' + payment.paymentMethod}}">Payment method 1
                            </option>
                        </select>
                        <span th:if="${#fields.hasErrors('paymentMethod')}" th:errors="*{paymentMethod}" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label for="address" class="col-form-label" th:text="#{shipping.address}">Address</label>
                        <input type="text" th:field="*{address}" class="form-control" id="address" th:placeholder="#{shipping.address}">
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" th:each="row,rowStat : *{orderItems}">
                    <div class="form-group col">
                        <label th:for="*{orderItems[__${rowStat.index}__].productId}" class="col-form-label"
                               th:text="#{shipping.orderItems.products}">Products</label>
                        <select th:field="*{orderItems[__${rowStat.index}__].productId}" class="form-select">
                            <option th:each="product : ${allProducts}" th:value="${product.productId}"
                                    th:text="#{${'shipping.product.' + product.productName}}">Product
                            </option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label th:for="@{|quantity-${rowStat.index}|}" class="col-form-label" th:text="#{shipping.orderItems.quantity}">Quantity</label>
                        <input type="text" th:field="*{orderItems[__${rowStat.index}__].quantity}" class="form-control"
                               th:id="@{|quantity-${rowStat.index}|}"
                               th:placeholder="#{shipping.orderItems.quantity}">
                        <span th:if="${#fields.hasErrors('${customerOrder.orderItems[__${rowStat.index}__].quantity}')}"
                              th:errors="*{orderItems[__${rowStat.index}__].quantity}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label th:for="@{|unitPrice-${rowStat.index}|}" class="col-form-label" th:text="#{shipping.orderItems.unit.price}">Unit price</label>
                        <input type="text" th:field="*{orderItems[__${rowStat.index}__].unitPrice}" class="form-control"
                               th:id="@{|unitPrice-${rowStat.index}|}"
                               th:placeholder="#{shipping.orderItems.unit.price}"><span th:text="#{shipping.orderItems.currency}"></span>
                        <span th:if="${#fields.hasErrors('${customerOrder.orderItems[__${rowStat.index}__].unitPrice}')}"
                              th:errors="*{orderItems[__${rowStat.index}__].unitPrice}" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <label th:for="@{|unitWeight-${rowStat.index}|}" class="col-form-label" th:text="#{shipping.orderItems.unit.weight}">Unit
                            weight</label>
                        <input type="text" th:field="*{orderItems[__${rowStat.index}__].unitWeight}" class="form-control"
                               th:id="@{|unitWeight-${rowStat.index}|}"
                               th:placeholder="#{shipping.orderItems.unit.weight}"><span th:text="#{shipping.orderItems.mass}"></span>
                        <span th:if="${#fields.hasErrors('${customerOrder.orderItems[__${rowStat.index}__].unitWeight}')}"
                              th:errors="*{orderItems[__${rowStat.index}__].unitWeight}" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <div class="col-form-label">&nbsp;</div>
                        <button type="submit" class="btn btn-danger" name="removeOrderItem" th:value="${rowStat.index}"
                                th:text="#{shipping.orderItems.remove}">Remove order item
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mt-5">
                        <button type="submit" class="btn btn-primary" name="addOrderItem" th:text="#{shipping.orderItems.add}">Add order item</button>
                    </div>
                    <div class="col-md-3 mt-5">
                        <button type="submit" class="btn btn-primary" name="addCustomerOrder" th:text="#{shipping.add}">Add customer order</button>
                    </div>
                    <div class="col-md-3 mt-5">
                        <p><a href="/" class="btn btn-primary" th:text="#{shipping.back}">Back</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>