<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/commonHeader :: header"></div>
    <title th:text="#{shipping.title}">Shipping application</title>
</head>
<body>
<div th:switch="${customerOrders}">
    <h2 th:case="null" th:text="#{shipping.no.customer.orders.yet}">No customer orders yet!</h2>
    <div th:case="*">
        <h2 th:text="#{shipping.customer.orders}">Customer orders</h2>
        <table class="table table-stripped table-responsive-md">
            <thead>
            <tr>
                <th th:text="#{shipping.payment.method}">Payment method</th>
                <th th:text="#{shipping.address}">Address</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${customerOrders}">
                <form action="#" th:action="@{'/deleteCustomerOrder/{orderId}'(orderId=${order.orderId})}" th:method="delete">
                    <td th:text="#{${'shipping.payment.method.' + order.paymentMethod}}"></td>
                    <td th:text="${order.address}"></td>
                    <td><a th:href="@{/showShippings/{id}(id=${order.orderId})}" class="btn btn-primary" th:text="#{shipping.show.shippings}">Show shippings</a>
                    </td>
                    <!--
                    <td><a th:href="@{/deleteCustomerOrder/{id}(id=${order.orderId})}" class="btn btn-primary" th:text="#{shipping.delete.customer.order}">Delete
                        customer order</a></td>
                    -->
                    <td>
                        <input type="hidden" name="orderId" th:value="${order.orderId}">
                        <button type="submit" class="btn btn-danger" name="deleteOrder" th:text="#{shipping.delete.customer.order}">Delete customer order
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addCustomerOrder" class="btn btn-primary" th:text="#{shipping.add.customer.order}">Add customer order</a></p>
</div>
</body>
</html>