<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/commonHeader :: header"></div>
    <title th:text="#{shipping.title}">Shipping application</title>
</head>
<body>
<div th:switch="${customerOrders}">
    <h2 th:case="null" th:text="#{shipping.no.customer.orders.yet}">No customer orders yet!</h2>
    <div th:case="*">
        <h2 th:text="#{shipping.customer.orders}">Customer orders</h2>
        <table class="table table-stripped table-responsive-md">
            <thead>
            <tr>
                <th th:text="#{shipping.payment.method}">Payment method</th>
                <th th:text="#{shipping.address}">Address</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${customerOrders}">
                <form action="#" th:action="@{'/deleteCustomerOrder/{orderId}'(orderId=${order.orderId})}" th:method="delete">
                    <td th:text="#{${'shipping.payment.method.' + order.paymentMethod}}"></td>
                    <td th:text="${order.address}"></td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                th:attr="data-bs-target=@{|#shippingsModal-${order.orderId}|}, data-id=${order.orderId}"
                                th:text="#{shipping.show.shippings}">Show shippings
                        </button>
                    </td>
                    <td>
                        <input type="hidden" name="orderId" th:value="${order.orderId}">
                        <button type="submit" class="btn btn-danger" name="deleteOrder" th:text="#{shipping.delete.customer.order}">Delete customer order
                        </button>
                    </td>
                </form>
                <div class="modal fade" th:id="@{|shippingsModal-${order.orderId}|}" tabindex="-1" aria-labelledby="shippingsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:text="#{shipping.show.shippings}">Shippings</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div th:id="@{|shippingsModalBody-${order.orderId}|}"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{shipping.button.close.modal}">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addCustomerOrder" class="btn btn-primary" th:text="#{shipping.add.customer.order}">Add customer order</a></p>
</div>
<script>
    const url = 'http://localhost:8080/showShippings';
    let modals = document.querySelectorAll('.modal');
    modals.forEach(modal => {
        modal.addEventListener('show.bs.modal', (event) => {
            const showModalButton = event.relatedTarget;
            const orderId = showModalButton.getAttribute('data-id');
            fetch(
                url,
                {
                    headers: {"Content-Type": "application/json"},
                    body: orderId,
                    method: "POST"
                }
            ).then(data => data.json())
                .then((json) => {
                    //const response = JSON.stringify(json)
                    //console.log(response);
                    let shippingsModalBody = document.getElementById('shippingsModalBody-' + json.orderId);
                    let modalBodyHtml = `<ul><li>Calculated estimated value: ${json.calculatedEstimatedValue}</li>
                        <li>Total price: ${json.totalPrice}</li>
                        <li>Calculated total weight: ${json.calculatedTotalWeight}</li>
                        <li>Taxable: ${json.taxable}</li></ul>`;
                    let packageItemsBodyHtml = '<table class="table table-stripped table-responsive-md"><thead>' +
                        '<tr><th>Product ID</th><th>Weight</th><th>Estimated value</th></tr></thead><tbody>';
                    let tempPackageItemsHtml = '';
                    json.packageItems.forEach(packageItem => {
                        tempPackageItemsHtml = tempPackageItemsHtml.concat(`<tr><td>${packageItem.productId}</td>`);
                        tempPackageItemsHtml = tempPackageItemsHtml.concat(`<td>${packageItem.weight}</td>`);
                        tempPackageItemsHtml = tempPackageItemsHtml.concat(`<td>${packageItem.estimatedValue}</td></tr>`);
                    });
                    modalBodyHtml = modalBodyHtml.concat(packageItemsBodyHtml, tempPackageItemsHtml);
                    modalBodyHtml = modalBodyHtml.concat('</tbody></table>');
                    shippingsModalBody.innerHTML = modalBodyHtml;
                });
        }, false);
    });

</script>
</body>
</html>