<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="mainJs" th:remove="tag">
    <script>
        function submitForm(orderId, orderType) {
            let mainForm = document.getElementById('mainForm');
            if (orderType == 'editOrder') {
                mainForm.action = '/editCustomerOrder/' + orderId;
                mainForm.method = 'post'
                mainForm.submit();
            }
            if (orderType == 'deleteOrder') {
                mainForm.action = '/deleteCustomerOrder/' + orderId;
                mainForm.method = 'delete';
                mainForm.submit();
            }
        }
    </script>
</div>
</body>
</html>