<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="mainJs" th:remove="tag">
    <script>
        function submitForm(orderId, orderType) {
            const mainFormId = 'mainForm-' + orderId;
            let mainForm = document.getElementById(mainFormId);
            if (orderType == 'editOrder') {
                mainForm.action = '/editCustomerOrder/' + orderId;
                mainForm.method = 'post';
                mainForm.submit();
            }
            if (orderType == 'deleteOrder') {
                mainForm.action = '/deleteCustomerOrder/' + orderId;
                mainForm.method = 'post';
                let hiddenInput = document.createElement('input');
                hiddenInput.name = '_method';
                hiddenInput.value = 'delete';
                mainForm.appendChild(hiddenInput);
                mainForm.submit();
            }
        }
    </script>
</div>
</body>
</html>